@font-face {
  font-family: 'pixelmix';
  font-style: normal;
  font-weight: 400;
  src: url('./pixelmix.ttf');
}


:root {
  --screen-border-margin: 3vw;
  --header-height: 3rem;
  --button-hover-color: #44ff44;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgba(255, 255, 255, 0.1); */
}

html {
  height: 100%;
}

body {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 1.7rem;
  font-family: 'pixelmix', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #dddddd;

  background-color: #0b0a14;
}

#nort-canvas {
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#root {
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}


#root > .screen {
  position: absolute;
  left: var(--screen-border-margin);
  top: var(--screen-border-margin);
  width: calc(100% - var(--screen-border-margin) * 2);
  height: calc(100% - var(--screen-border-margin) * 2);
}


a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}


.basic-text-button {
  position: relative;
  display: block;
  border-radius: 0;
  background: none;
  border: none;
  padding: 0.5rem;
}

.basic-text-button::before {
  content: '>';
  position: absolute;
  display: none;
  align-items: center;
  height: 100%;
  right: 100%;
  top: 0;
}

.basic-text-button::after {
  content: '<';
  position: absolute;
  display: none;
  align-items: center;
  height: 100%;
  left: 100%;
  top: 0;
}

.basic-text-button:hover {
  color: var(--button-hover-color);
}

.basic-text-button:hover::after,
.basic-text-button:hover::before {
  display: flex;
}



::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #666666;
}

::-webkit-scrollbar-thumb:hover {
  background: #555555;
}


@media (orientation: portrait), (max-width: 813px) {
  #root {
    --screen-border-margin: 1vw;
  }  
}
